*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #505050; }

h1 {
  font-size: 2em;
  font-weight: 500; }

.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 10px; }

.board {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 1em; }

.row {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto; }

.cell {
  position: relative;
  float: left;
  width: 1.25%;
  padding-bottom: calc(1.25% - 1px);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; }
  .cell:hover:not(.black) {
    background: #DDD; }

.black {
  background: #673ab7; }

.controls {
  float: left;
  user-select: none; }

.button {
  display: inline-block;
  min-width: 2.2em;
  padding: 0.3em 0.7em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  background: #673ab7;
  color: #fff;
  text-align: center;
  cursor: pointer; }
  .button + .button {
    border-left: 1px solid #5c34a4; }

.button:hover {
  background: #7446c4; }

.counter {
  display: inline-block;
  padding: 0.3em 0.7em;
  font-size: 1em;
  line-height: 1.5em; }
