$color-primary: rgb(103, 58, 183);
$grid-width: 1.428%;
$grid-height: calc(1.428% - 1px);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #505050;
}

h1 {
    font-size: 2em;
    font-weight: 500;
}

.container {
    max-width: 30em;
    margin: 0 auto;
    padding: 0 .7em;
}

.board{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 1em;
}
.row {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.cell {
    position: relative;
    float: left;
    width: $grid-width;
    padding-bottom: $grid-height;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:hover:not(.black) {
        background: #DDD;
    }
}

.black {
    background: $color-primary;
}

.controls {
    float: left;
    margin-bottom: 1em;
    user-select: none;
}

.button {
    display: inline-block;
    min-width: 2.4em;
    padding: 0.3em 0.7em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    background: $color-primary;
    color: #fff;
    text-align: center;
    cursor: pointer;

    + .button {
        border-left: 1px solid darken($color-primary,5%);
    }
}

.button:hover {
    background: lighten($color-primary,5%);
}

.counter{
    display: inline-block;
    padding: 0.3em 0.7em;
    font-size: 1em;
    line-height: 1.5em;
}
